[Desktop Entry]
Name=EBView
Name[ja]=EBView 辞書ブラウザ
Comment=EPWING CD-ROM dictionary viewer
Comment[ja]=EPWING形式のCD-ROM辞書を検索します
Icon=/usr/share/pixmaps/ebview.xpm
Exec=/usr/bin/ebview
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;GTK;Utility;Dictionary;
MimeType=application/ebview;

